* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151515;
}

header {
    color: #ffffff;
    text-align: center;
    margin: 30px 0;
    font-family: 'Young Serif', serif;
}

nav i {
    color: #ffffff;
    margin: 30px 15px;
}

.section-about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 10px 0;
    color: #fcfcfc;
    font-family: 'Poppins', sans-serif;
    padding: 0 20px;
    flex-wrap: wrap
}

.section-about h3 {
    font-size: 28px;
}

.section-about h2 {
    font-size: 28px;
    margin: 0 0 20px;
}

.section-about h2 span,
.contato {
    border-bottom: 5px solid #19dfed;
}

.section-about p {
    margin: 15px 0;
}

.contato {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    padding: 15px;
}

.contato:hover {
    color: #6c6c6c;
    transform: scale(1.1);
    transition: all 0.6s;
    border-bottom: 5px solid #fff;
}

hr {
    margin: 50px 20px;
}

.linguagens-box {
    color: #fff;
    text-align: left;
    justify-content: space-between;
}

.box {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 20px;
}

.box i {
    margin: 14px 10px;
    text-align: left;
}


.linguagens-box h2,
.projetos h2,
.dados-contato h2 {
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
}

.linguagens-box h2 span {
    visibility: hidden;
}

.linguagens-box .box img {
    width: 1.33em;
    height: 1.33em;
    object-fit: contain;
    margin: 14px 10px;
    filter: grayscale(100%);
}

.box-text h3 {
    font-size: 28px;
}

.box-text p {
    font-size: 20px;
    margin: 8px 0;
    color: #b2b2b2;
}

.projetos {
    display: flex;
    justify-content: space-between;
    margin: 50px 35px;
    align-items: center;
    flex-wrap: wrap;
}

.box-projetos {
    margin: 5px;
    text-align: center;
}

.box-projetos img {
    width: 90%;
    height: auto;
    margin: 0 20px;
}

.box-projetos-text {
    text-align: left;
    margin: 10px 10px 10px;
}

.box-projetos-text h4 {
    color: #fff;
    font-size: 25px;
}

.box-projetos-text span {
    color: #c5c5c5;
    font-size: 20px;
}

.box-projetos-text p {
    color: #c5c5c5;
    font-size: 20px;
    margin-right: 20px;
}

.box-projeto-links {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.dados-contato {
    background-color: #242424 !important;
    padding: 35px 20px 80px;
    text-align: center;
}

.dados-contato p {
    color: #b5b5b5;
    font-size: 16px;
    margin: 10px 0 20px;
}

.dados-contato input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    margin: 10px 0;
    color: #fff;
    font-size: 16px;
}

.dados-contato textarea {
    padding: 20px;
}

.dados-contato input::placeholder,
textarea::placeholder {
    text-transform: uppercase;
}

textarea:focus,
input:focus,
select:focus {
    outline: none;
}

.botao-contato input {
    background-color: transparent;
    border: none;
    border-bottom: 5px solid #19dfed;
    float: right;
    color: #fff;
    margin: 10px;
    font-size: 16px;
    padding: 5px;
    text-transform: uppercase;
}

footer {
    background-color: #242424 !important;
    color: #ffffff;
    text-align: center;
    margin: 40px 0px;
    padding: 15px;
    font-family: 'Young Serif', serif;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    img {
        width: 70%;
        height: auto;
        order: -1;
        margin: 0 0 20px;
    }

    hr {
        margin: 30px 20px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        max-width: 1000PX;
        margin: 0 auto;
    }

    header {
        display: flex;
        justify-content: space-between;
        margin: 0 25px;
        align-items: center;
        top: 0;
    }

    nav {
        z-index: 0;
    }

    .section-about {
        justify-content: space-between;
        flex-direction: row;

    }

    .section-about-box {
        text-align: left;
    }

    .section-about h3 {
        font-size: 45px;
    }

    .section-about h2 {
        font-size: 40px;
    }

    .section-about img {
        width: 30%;
        height: auto;
        position: relative;
        top: -10px;
        z-index: 0;
    }

    hr {
        margin: 30px 20px;
    }

    .linguagens-box-one {
        display: flex;
        justify-content: space-between;
    }

    .dois-box-projetos {
        display: flex;
        justify-content: space-between;
    
    }

    .box-projetos img {
        width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
        height: 400px; /* Define uma altura fixa */
        object-fit: contain; /* Preenche o contêiner sem distorcer a imagem */
        max-width: 100%; /* Limita a largura ao tamanho do contêiner */
        max-height: 350px;
        justify-content:space-around;
    }

    .box-projetos-text  {
        text-align: left;
        margin: 20px 20px;
    
    }

    .box-projeto-links {
        visibility: hidden;
    }
}